<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<% if !@user.favorite_style.nil? && !@user.favorite_brewery.nil?%>
    <p>Favorite style:
      <%= @user.favorite_style %>
    </p>
    <p>Favorite brewery:
      <%= @user.favorite_brewery.name %>
    </p>
<% end %>

<p>
  has given <%= @user.ratings.size %> ratings, average <%= @user.average_rating %>
</p>

<p> <%= @user.username %> belongs to <%= pluralize(@user.clubmanships.size, 'club') %></p>
<p>Member of</p>
<ul>
  <% @user.confirmed_memberships.each do |membership| %>
      <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
  <% end %>
</ul>

<p>Membership pending for confirmation</p>
<ul>
  <% @user.pending_memberships.each do |membership| %>
      <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
  <% end %>
</ul>


<ul>
  <% @user.ratings.each do |rating| %>
      <li><%= rating.to_s %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'fo sho?'} if currently_signed_in?(@user)%></li>
  <% end %>

</ul>


<%= link_to 'Edit', edit_user_path(@user) if currently_signed_in?(@user) %>
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } if currently_signed_in?(@user) %>
