<h2>Ratings</h2>

<% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
<%= yield %>

<p>Number of ratings: <%= @ratings.size %></p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %>, given by <%= link_to rating.user.username, user_path(rating.user.id) %>
      <% if rating.user == current_user %>
          <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      <% end %>
      </li>
  <% end %>
</ul>


<%= link_to 'New Rating', new_rating_path  %>
