<h2>Ratings</h2>

<% cache :expires_in => 10.minutes  do %>


<% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
<%= yield %>

<p>Number of ratings: <%= @ratings.size %></p>

<table class="table table-hover">
    <thead>
        <% @ratings.each do |rating| %>
            <tr>
              <td><%= rating %>, given by <%= link_to rating.user.username, rating.user %></td>
            </tr>
        <% end %>
    </thead>
</table>

<%= render 'top', name: "breweries", :parameter => Brewery.top(3) %>
<%= render 'top', name: "beers", :parameter => Beer.top(3) %>
<%= render 'top', name: "styles", :parameter => Style.top(3) %>
<%= render 'top', name: "raters", :parameter => User.top_raters(3) %>

<%= render 'recent', :recent_ratings => Rating.recent %>

<% end %>

<%= link_to 'New Rating', new_rating_path  %>
