<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<p>
  <i>established since year
    <%= @brewery.year %>
  </i>
</p>

<p>
  <b>Beers:</b>
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <li>
      <ul><%= link_to beer.name, beer %></ul>
    </li>
<% end %>
</p>

<p>
  <b>Ratings:</b>
  <% if @brewery.ratings.empty? %>
    <p>Beer has no ratings yet</p>
<% else %>
    <p><%= @brewery.name %> has <%= pluralize(@brewery.ratings.size, 'rating') %>, with the average of <%= @brewery.average_rating %></p>
<% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
