<p id="notice"><%= notice %></p>

<p>
<h2>
  <%= @brewery.name %>
</h2>
</p>

<p>
  <i>established since year
    <%= @brewery.year %>
  </i>
</p>

<p>
  <b>Beers:</b>
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <table>
      <tr>
        <td><%= link_to beer.name, beer %></td>
      </tr>
    </table>
<% end %>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
